<h1>Articles page</h1>

<div class="container-fluid">
    <div class="row artrow">
        <div class="articlesall">
            <div ng-repeat="article in main.articles" class="shortArticle col-xs-6 col-md-3 col-ld-3" data-count="{{$index}}">
                <my-draggable id="{{$index}}" article="article" index=""></my-draggable>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="dropDiv">

            <my-droppable id="firstDroppable" data-count="0"></my-droppable>
            <my-droppable id="secondDroppable" data-count="1"></my-droppable>
            <my-droppable id="thirdDroppable" data-count="2"></my-droppable>
            <my-droppable id="forthDroppable" data-count="3"></my-droppable>
            <my-droppable id="fifthDroppable" data-count="4"></my-droppable>
            
        </div>
    </div>
</div>



<button class="btn btn-success newsButton" disabled="disabled"><a href="#/news">Show news</a></button>